<div class="title"><%= title %></div>
<div class="content">
	<% if current_user %>
		<p>Welcome, <%= current_user.name %>!</p>
		<p><%= link_to "New Word", 'words/new' %>
	<% else %>
		<%= link_to "Sign in with Twitter", "/auth/twitter" %>
	<% end %>		
</div>
